.product-container {
  padding: 0 10px 30px;
}
.product-container .product-info {
  position: relative;
  padding-top: 109%;
  overflow: hidden;
}
.product-container .product-info > a {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.3s;
}

/*.femalecontent .product-container .product-info{
position: relative;
overflow: hidden;
padding-top:0;
}*/
.product-container .product-info > a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.product-container .product-info > a:hover {
  transform: scale(1.1);
}
.product-container .product-details {
  padding: 10px;
  background: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-container .product-details div {
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.2;
}
.btn {
  background: #14213d;
  color: #fff;
  padding: 15px 20px;
  margin: 0 0 15px;
  border-radius: 100px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  border: 0;
}
.footer {
  padding: 0 0 20px;
  background: #14213d;
  color: #fff;
}
.footer .hot a h3 {
  color: #fff;
}
.footer a {
  color: #fff;
}
.copyright {
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.copyright p {
  margin: 0;
}
.section {
  padding: 40px 0;
}

.select-wrapper{
  position:relative;
  display:inline-block;
}
select::-ms-expand {display: none;}
select{
  display:inline-block;
  border:1px solid #bbb;
  padding: 10px;
  margin:0;
  font:inherit;
  outline:none;
  line-height:1.2;
  background:#f8f8f8;
  -webkit-appearance:none;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  appearance:none;
  border-radius: 0;
  width:250px;
  position: relative;
}
.select-wrapper:before{
  content:"";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  width: 35px;
  pointer-events:none;
  border-radius:0 6px 6px 0;
  z-index: 1;
}
.select-wrapper:after{
  position: absolute;
  right:12px;
  content:'';
  width:8px;
  height:8px;
  position:absolute;
  top:50%;
  border:3px solid #666;
  border-width:0 0 3px 3px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top:-6px;
  line-height: 0;
  z-index: 1;
}